---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2CDenver%2CCO%2C80212&key=AIzaSyCY5n5pb4MT_HYRFMlXUJTqM_Oe_ifEAus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80212",
                       "short_name" : "80212",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO 80212, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.7988519,
                          "lng" : -105.034574
                       },
                       "southwest" : {
                          "lat" : 39.74395,
                          "lng" : -105.0630589
                       }
                    },
                    "location" : {
                       "lat" : 39.7752563,
                       "lng" : -105.0498966
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7988519,
                          "lng" : -105.034574
                       },
                       "southwest" : {
                          "lat" : 39.74395,
                          "lng" : -105.0630589
                       }
                    }
                 },
                 "place_id" : "ChIJ_8fcE5yHa4cRfbPCIJjzidE",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 11 Jun 2016 19:47:13 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3937+Tennyson+St%2CDenver%2CCO%2C%5B%2280212%22%5D&key=AIzaSyCY5n5pb4MT_HYRFMlXUJTqM_Oe_ifEAus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           [...]
