---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1510+Blake+St%2CDenver%2CCO%2C%5B%2280202%22%5D&key=AIzaSyCY5n5pb4MT_HYRFMlXUJTqM_Oe_ifEAus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1510",
                       "short_name" : "1510",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Blake Street",
                       "short_name" : "Blake St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "LoDo",
                       "short_name" : "LoDo",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "De[...]
