<div class="user-show-page">
    <div class="row">
	<div class="card card-inverse card-success text-center title-card">	
	    <div class="card-block page-title">
		<h1><%= @user.name %>'s Validations</h1>
	    </div> <!-- page-title -->
	</div> <!-- validation -->
    </div> <!-- row -->

    <div class="row">
	<div class="card col-md-12">
	    <h4 class="card-title">Your Validations</h4>
	    <ol class="card-text">
		<% @user.validations.each do |validation| %>
		    <li><%= link_to "#{validation.home.address}", validation_show_path(validation.id) %> </li>
		<% end %>
	    </ol>
	</div> <!-- card -->
    </div> <!-- row -->

</div> <!-- user-show-page -->
