<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
	<li class="nav-item active">
	    <a class="nav-link" href="/validate">Validate a home<span class="sr-only">(current)</span></a>
	</li>
	<% if current_user  %>
	    <li class="nav-item">
		<a class="nav-link" href="/users/<%= current_user.id %>" >My Dasboard</a>
	    </li>
	    <li class="nav-item" >
		<a class="nav-link" href="/logout" >Logout</a>
	    </li>
	<% else %>
	<li class="nav-item">
	    <a class="nav-link" id="sign_in" href="/auth/facebook">Login with facebook</a>
	</li>
	<% end %>
    </ul>
    </div> <!-- collapsing-navbar -->
</nav>


