<div class="root">
    <div class="jumbotron">
	<h1 class="display-3">Beat Online Housing Scams.</h1>
	<p class="lead">If you are trying to rent your property, validate your listing so that potential renters can have confidence when considering your property. If you are looking for a property, search our database to see if the property you are interested in has appeared as a verified listing or a scam. And if you've found a scam, add it to our database and save the next person from becoming the next victim.</p>
	<o class="lead">Scammers lose. The rest of us win.</p>
	    <hr class="m-y-2">
	    <p>Validate your listing, search the database, or report a scam..</p>
	    <p class="lead">
		<a class="btn btn-primary btn-lg" href="/validate" role="button">Validate your listing</a>
		<a class="btn btn-primary btn-lg" href="#" role="button">Search listings</a>
		<a class="btn btn-primary btn-lg" href="#" role="button">Report scam</a>
	    </p>
    </div>
  </div>
