<div class="root">
    <div class="jumbotron">
	<h1 class="display-3">Beat Online Housing Scams.</h1>
	<p class="lead">Give confidence to potential renters or buyers of your property with a validated listing. All you have to do is make sure that gps is turned on for your phone's camera, point, and click. We do the validation behind the scenes, and now your audience will know that your listing isn't a scam.</p>
	<o class="lead">Scammers lose. The rest of us win.</p>
	    <hr class="m-y-2">
	    <p class="lead">
		<a class="btn btn-primary btn-lg" href="/validate" role="button">Validate a home</a>
	    </p>
    </div>
  </div>
